<body>
<h2>Citas Médicas Pendientes</h2>
<table>
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Doctor</th>
    <th>Especialidad</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>2023-05-20</td>
    <td>09:00 AM</td>
    <td>Dr. Pérez</td>
    <td>Cardiología</td>
  </tr>
  <tr>
    <td>2023-05-22</td>
    <td>10:30 AM</td>
    <td>Dr. Gómez</td>
    <td>Oftalmología</td>
  </tr>
  <tr>
    <td>2023-05-25</td>
    <td>03:15 PM</td>
    <td>Dra. López</td>
    <td>Dermatología</td>
  </tr>
  </tbody>
</table>
</body>
