<h2 class="titulo">RESERVAR CITA</h2>
<br>
<div class="center">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Especialidades</mat-label>
      <input type="text"
             placeholder="Seleccione una especialidad"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<br>
<div class="center">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected" (click)="getFecha()" ></mat-calendar>
  </mat-card>
</div>
<!--<p>Selected date: {{fecha}}</p>-->

<div class="main">
<!--  <h1>Doctores Disponibles</h1>-->
  <ul class="cards">
    <li class="cards_item" *ngFor="let i of [1,2,3,4,5,6]">
      <div class="card">
        <div class="card_image"><img src="https://t4.ftcdn.net/jpg/00/96/79/23/360_F_96792385_uNo7a5isquPQWohvBpxpGIxnNGCvmvhX.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Doctor</h2>
          <p class="card_text">Manuel Juan Ramos Perez</p>
          <div class="center">
            <button mat-raised-button color="accent">
              <i class="far fa-clock"></i>   Horario
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<h2 class="titulo">Horarios disponibles</h2>
<div class="card-container-time">
  <div class="card-time" *ngFor="let i of [1,2,3,4,5,6,7]">
    <mat-card>
      <button mat-raised-button color="primary">9:00 AM</button>
    </mat-card>
  </div>
</div>

<br>
<div class="center">
  <button mat-raised-button color="warn">
    <i class="fas fa-calendar-check"></i>   RESERVAR
  </button>
</div>
<br>
