<div class="oontainer mt-4">
  <body>
  <h1>Historial de Citas Médicas</h1>
  <table>
    <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Médico</th>
      <th>Especialidad</th>
      <th>Diagnóstico</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>01/05/2023</td>
      <td>09:00 AM</td>
      <td>Dr. López</td>
      <td>Cardiología</td>
      <td>Presión arterial alta</td>
    </tr>
    <tr>
      <td>15/05/2023</td>
      <td>02:30 PM</td>
      <td>Dra. García</td>
      <td>Neurología</td>
      <td>Migrañas recurrentes</td>
    </tr>
    <!-- Agrega más filas según sea necesario -->
    </tbody>
  </table>
  </body>
</div>
